
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#map {
	height: 100%;
}

.cardMe {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    width: 285px;
}

.cardMe-footer .float-right {
    float: right!important;
}
.img-lgM {
    width: 240px;
    height: 190px;
}

.cardMe-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    /*border-top: 1px solid rgba(34, 36, 38, .1);*/
    box-shadow: none;
}

.cardMe-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.cardMe-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.cardMe-text {
    clear: both;
    margin-top: .5em;
    margin-bottom: 1.1em!important;
    color: rgba(0, 0, 0, .68);
}

.cardMe-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1px;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}

.cardMe-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}

.profile {
    position: absolute;
    top: -12px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}

.profile-avatar {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

.profile-inline ~ .cardMe-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}

.text-bold {
    font-weight: 700;
}

.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}

.meta a:hover {
    color: rgba(0, 0, 0, .87);
}

/*.dropdown-item.active {
    background: #0cca8e !important;
}*/
.dropdown-item.active .dropdown-link {
    color: #000 !important;
    font-weight: bold !important;
}

.pas_vue{
    background-color: #f2f2f2;
    padding: 5px;
}
.espaceme{
    border-bottom: 1px solid #e9e9e9!important;
}

.myload span{
    margin-left: 2px;
}
