/* small mobile :320px. */
@media (max-width: 600px) {
    .map-container{
        min-height: 450px;
    }

    #formseachmb .d-flex{
        display: grid!important;
    }

    #formseachmb .d-flex a{
        margin-left: 0px!important;
        margin-top: 5px;
    }

}